<% 5.times do |i| %>
<figure class="polaroid" style="<%= random_style(i) %>">
  <div class="pin <%= ["red","blue","yellow"].shuffle.first %>"></div><%= image_tag "myholiday.jpg" %> 
  <figcaption>
    --&gt; I like this #TeachTheWeb room setup
  </figcaption>
</figure>
<% end %>
